@mixin message($flex, $border) {
    display: flex;
    margin: 15px 0;

    justify-content: $flex;
    align-items: center;

    .checked {
        width: 10px;
        height: 10px;
    }

    .time {
        font-size: 14px;
        font-weight: 300;
        margin: 0 5px 0 3px;
    }

    .message {
        padding: 8px 16px;
        max-width: 40%;
        background-color: #fff;

        word-wrap: break-word;
        word-break: break-all;

        border-radius: $border;
    }

}

@mixin w_h($width, $height) {
    width: $width;
    height: $height;
}

.main {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 3fr;
}

.menu {
    display: block;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 500px;
    min-width: 365px;
    padding: 10px;
    border-right: 1px solid #6C6B6A;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px 0;

        .logo {
            display: flex;
            align-items: center;

            margin: 0 12px 0 0;

            cursor: pointer;

            .logo_img {
                width: 33px;
                height: 33px;
            }

            .logo_text {
                font-size: 15px;
                font-weight: 300;
                margin: 0 0 0 8px;
                color: #5F27B8;
            }
        }

        .input {
            position: relative;
            width: 100%;
            height: 25px;

            .input_btn {
                display: flex;
                position: absolute;
                right: 0px;
                width: 25px;
                height: 25px;
                cursor: pointer;

                .input_search {
                    margin-top: 5px;
                    width: 14px;
                    height: 14px;
                    z-index: 5;
                    background-color: #fff;
                }
            }

            .input_input {
                position: absolute;
                width: 100%;
                min-width: 200px;
                height: 25px;

                padding: 0 25px 0 10px;
                font-size: 12px;

                border: 1px solid #000000;
                border-radius: 30px;
            }
        }
    }

    .headerHover {
        .logo {
            .logo_text {
                font-weight: 300;
                color: #000000;
            }
        }
    }


    .chats {
        max-height: 93.5vh;
        overflow-y: scroll;

        .user {
            display: flex;
            width: 100%;
            height: 85px;
            align-items: center;

            padding: 0 8px;

            border-radius: 10px;

            cursor: pointer;
            transition: 0.3s;

            .user_img {
                width: 50px;
                height: 50px;
                margin: 0 12px 0 0;

                border-radius: 50px;
            }

            .user_data {

                .user_activity {
                    display: flex;
                    align-items: center;

                    .user_name {
                        font-size: 20px;
                    }

                    .active {
                        display: block;
                        width: 8px;
                        height: 8px;
                        margin: 0 4px;

                        background-color: #000;

                        border-radius: 8px;
                    }

                    .missed_msg {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 20px;
                        height: 10px;

                        border: 1px solid #000000;
                        border-radius: 30px;

                        font-size: 8px;
                    }
                }

                .user_lastmsg {
                    font-weight: 300;
                    font-size: 10px;
                }
            }
        }

        .user:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: 0.3s;
        }

        .userActive {
            background-color: #000;

            .user_data {
                .user_activity {
                    .user_name {
                        color: #fff;
                    }

                    .active {
                        background-color: rgb(255, 255, 255);
                    }

                    .missed_msg {
                        border: 1px solid #ffffff;
                        color: #fff;
                    }
                }

                .user_lastmsg {
                    color: #fff;
                }
            }
        }
    }

    .chats::-webkit-scrollbar {
        width: 5px;
        background-color: #F0F2F5;
    }

    .chats::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #000000;
    }

    .chats::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #F0F2F5;
    }
}

.messenger {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #F0F2F5;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 80px;

        padding: 0 40px;

        background-color: #fff;

        .menu_btn {
            width: 30px;

            cursor: pointer;
            transition: .3s;
            transform: rotate(180deg);
        } .menu_btn:hover {
            transition: .3s;
            transform: scale(0.9);
        }

        .menu_btn_close {
            width: 30px;
            
            cursor: pointer;
            transition: .3s;
        } .menu_btn_close:hover {
            transition: .3s;
            transform: scale(0.9);
        }

        

        .info {
            text-align: center;

            .name {
                font-size: 28px;

                cursor: pointer;
                transition: 0.3s;
            }

            .name:hover {
                color: rgb(90, 90, 90);
                transition: 0.3s;
            }

            .description {
                font-weight: 300;
                font-size: 13px;
                margin: 0 0 3px 0;
            }

            .was_last_time {
                font-weight: 200;
                font-size: 10px;
            }
        }

        .settings {
            width: 30px;
            height: 30px;

            cursor: pointer;
            transition: .3s;
            transition-timing-function: ease-in-out;
        }

        .settings:hover {
            transition: .3s;
            transform: scale(0.9) rotate(360deg);
        }
    }

    .messages {
        padding: 0 40px;
        flex: 1 1 auto;

        .your_message {
            @include message(end, 30px 30px 5px 30px)
        }

        .his_message {
            @include message(start, 30px 30px 30px 5px)
        }

        .date {
            display: flex;
            justify-content: center;
            align-items: center;

            .date_text {
                font-weight: 300;
                font-size: 16px;

                padding: 10px 23px;
                border-radius: 30px;

                background-color: #fff;
            }
        }
    }

    .text_input {
        display: flex;
        margin: 20px 40px;

        .me {
            @include w_h(40px, 40px);
            cursor: pointer;
            margin: 0 16px 0 0;
        }

        .input {
            display: block;
            position: relative;
            width: 100%;

            .input_input {
                overflow-y:hidden;
                
                position: absolute;
                resize: none;

                @include w_h(100%, 40px);

                padding: 12.5px 160px 12.5px 18px;
                border-radius: 20px;
                font-size: 13px;
            }

            .input_btn {
                display: flex;
                align-items: center;
                bottom: 0;

                height: 40px;

                position: absolute;
                right: 2px;

                .input_folder {
                    margin: 0 8px;
                    @include w_h(32px, 32px);
                    cursor: pointer;
                }

                .input_smile {
                    @include w_h(25px, 25px);
                    cursor: pointer;
                }

                .input_gif {
                    margin: 0 8px;
                    @include w_h(25px, 25px);
                    cursor: pointer;
                }

                .input_send {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include w_h(35px, 35px);

                    background: #F8F8F8;
                    border-radius: 30px;

                    cursor: pointer;

                    img {
                        @include w_h(25px, 25px);
                    }
                }
            }


        }
    }
}