@mixin message($flex, $border, $fd) {
    display: flex;
    flex-direction: $fd;
    margin: 15px 0;

    justify-content: $flex;
    align-items: center;

    .checked {
        @include disable_selection;
        width: 10px;
        height: 10px;
    }

    .time {
        font-size: 14px;
        font-weight: 300;
        margin: 0 5px 0 3px;
    }

    .message {
        padding: 8px 16px;
        max-width: 40%;
        background-color: #fff;

        word-break: break;

        border-radius: $border;
    }

}

@mixin disable_selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin w_h($width, $height) {
    width: $width;
    height: $height;
}

@mixin scroll_bar($class) {
    #{$class}::-webkit-scrollbar {
        width: 5px;
        background-color: #F0F2F5;
    }

    #{$class}::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #000000;
    }

    #{$class}::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: #F0F2F5;
    }
}

// mixins

.main {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 3fr;
}

.menu {
    display: block;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 500px;
    min-width: 365px;
    padding: 10px 10px 5px 10px;
    border-right: 1px solid #6C6B6A;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 10px 0;

        .logo {
            display: flex;
            align-items: center;

            margin: 0 12px 0 0;

            cursor: pointer;

            .logo_img {
                @include disable_selection;
                transition: 0.3s;
                width: 33px;
                height: 33px;
            }

            .logo_text {
                transition: 0.3s;
                width: 90px;
                font-size: 15px;
                font-weight: 300;
                margin: 0 0 0 8px;
                color: #5F27B8;
            }
        }

        .logo:hover {
            .logo_img {
                transition: 0.3s;
                transform: rotate(360deg);
            }

            .logo_text {
                @keyframes identifier {
                    0% {
                        letter-spacing: 0em;
                    }

                    50% {
                        letter-spacing: -0.5em;
                    }

                    100% {
                        letter-spacing: 0em;
                    }
                }

                animation-name: identifier;
                animation-duration: 0.3s;
            }
        }

        .input {
            position: relative;
            width: 100%;
            min-width: 235px;
            height: 25px;

            .input_btn {
                display: flex;
                position: absolute;
                right: 0px;
                width: 25px;
                height: 25px;
                cursor: pointer;

                .input_search {
                    transition: .3s;
                    @include disable_selection;
                    margin-top: 5px;
                    width: 14px;
                    height: 14px;
                    z-index: 5;
                    background-color: #fff;
                }
            } .input_btn:hover {
                .input_search {
                    transition: .3s;
                    transform: scale(1.2);
                }
            }

            .input_input {
                position: absolute;
                width: 100%;
                min-width: 200px;
                height: 25px;

                padding: 0 25px 0 10px;
                font-size: 12px;

                border: 1px solid #000000;
                border-radius: 30px;
            }
        }
    }

    .headerHover {
        .logo {
            .logo_text {
                font-weight: 300;
                color: #000000;
            }
        }
    }


    .chats {
        max-height: 93.5vh;
        padding:  0 0 5px 0;
        overflow-y: auto;

        .user {
            display: flex;
            color: #000;
            width: 100%;
            height: 85px;
            align-items: center;

            padding: 0 8px;

            border-radius: 10px;

            cursor: pointer;
            transition: 0.3s;

            .user_img {
                @include disable_selection;
                width: 50px;
                height: 50px;
                margin: 0 12px 0 0;

                border-radius: 50px;
            }

            .user_data {

                .user_activity {
                    display: flex;
                    align-items: center;

                    .user_name {
                        font-size: 20px;
                        margin: 0 4px 0 0;
                    }

                    .active {
                        display: block;
                        width: 8px;
                        height: 8px;
                        margin: 0 4px 0 0;

                        background-color: #000;

                        border-radius: 8px;
                    }

                    .missed_msg {
                        @include disable_selection;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 20px;
                        height: 10px;

                        border: 1px solid #000000;
                        border-radius: 30px;

                        font-size: 8px;
                    }
                }

                .user_lastmsg {
                    font-weight: 300;
                    font-size: 10px;
                }
            }
        }

        .user:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: 0.3s;
        }

        .userActive {
            background-color: #000;

            .user_data {
                .user_activity {
                    .user_name {
                        color: #fff;
                    }

                    .active {
                        background-color: rgb(255, 255, 255);
                    }

                    .missed_msg {
                        border: 1px solid #ffffff;
                        color: #fff;
                    }
                }

                .user_lastmsg {
                    color: #fff;
                }
            }
        }
    } @include scroll_bar('.chats');

}

.messenger {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #F0F2F5;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 80px;

        padding: 8px 40px;

        background-color: #fff;

        .menu_btn_close {
            width: 30px;
            height: 30px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            cursor: pointer;
            transition: .3s;
        }

        .menu_btn_close span,
        .menu_btn_close span::before,
        .menu_btn_close span::after {
            position: absolute;
            width: 30px;
            height: 4px;
            border-radius: 10px;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #000000;
            transition: .3s;
        }

        .menu_btn_close span::after {
            content: "";
            top: 7px;
        }

        .menu_btn_close span::before {
            content: "";
            top: -3px;
        }

        .menu_btn_close:hover {
            transition: .3s;
            transform: scale(0.9);
        }

        .menu_btn {
            width: 30px;
            height: 30px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            cursor: pointer;
            transition: .3s;
            transform: rotate(-45deg);
        }

        .menu_btn span,
        .menu_btn span::before,
        .menu_btn span::after {
            position: absolute;
            width: 22px;
            height: 4px;
            border-radius: 10px;

            top: 4px;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #000000;
            transition: .3s;
        }

        .menu_btn span::after {
            content: "";
            top: 11px;
            left: 1px;
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .menu_btn span::before {
            content: "";
            top: 11px;
            left: 1px;
            transform: translate(-50%, -50%) rotate(90deg);
        }

        .menu_btn:hover {
            transition: .3s;
            transform: scale(0.9) rotate(-45deg);
        }

        .info {
            text-align: center;

            .name {
                font-size: 28px;

                cursor: pointer;
                transition: 0.3s;
            }

            .name:hover {
                color: rgb(90, 90, 90);
                transition: 0.3s;
            }

            .description {
                font-weight: 300;
                font-size: 13px;
                margin: 0 0 3px 0;
            }

            .was_last_time {
                font-weight: 200;
                font-size: 10px;
            }
        }

        .settings {
            @include disable_selection;
            width: 30px;
            height: 30px;

            cursor: pointer;
            transition: .3s;
            transition-timing-function: ease-in-out;
        }

        .settings:hover {
            transition: .3s;
            transform: scale(0.9) rotate(360deg);
        }
    }

    .messages {
        transition: .3s;
        padding: 0 40px 0 40px;
        overflow: auto;
        flex: 1 1 auto;

        .your_message {
            @include message(end, 30px 30px 5px 30px, row-reverse)
        }

        .his_message {
            @include message(start, 30px 30px 30px 5px, row)
        }

        .date {
            display: flex;
            justify-content: center;
            align-items: center;

            .date_text {
                font-weight: 300;
                font-size: 16px;

                padding: 10px 23px;
                border-radius: 30px;

                background-color: #fff;
            }
        }
    } @include scroll_bar('.messages');

    .text_input {
        display: flex;
        margin: 20px 40px;

        .me {
            @include disable_selection;
            transition: .3s;
            @include w_h(40px, 40px);
            cursor: pointer;
            margin: 0 16px 0 0;
        }

        .me:hover {
            transition: .3s;
            transform: scale(0.9);
        }

        .input {
            display: block;
            position: relative;
            width: 100%;

            .input_input {
                overflow-y: hidden;

                position: absolute;
                resize: none;

                @include w_h(100%, 40px);

                padding: 12.5px 160px 12.5px 18px;
                border-radius: 20px;
                font-size: 13px;
            }

            .input_btn {
                display: flex;
                align-items: center;
                bottom: 0;

                height: 40px;

                position: absolute;
                right: 2px;

                .input_hide {
                    @include disable_selection;
                    display: flex;
                    align-items: center;

                    .input_folder {
                        margin: 0 8px;
                        transition: .3s;
                        @include w_h(32px, 32px);
                        cursor: pointer;
                    }

                    .input_folder:hover {
                        transition: .3s;
                        transform: scale(0.9);
                    }

                    .input_smile {
                        transition: .3s;
                        @include w_h(25px, 25px);
                        cursor: pointer;
                    }

                    .input_smile:hover {
                        transition: .3s;
                        transform: scale(0.9);
                    }

                    .input_gif {
                        transition: .3s;
                        margin: 0 8px;
                        @include w_h(25px, 25px);
                        cursor: pointer;
                    }

                    .input_gif:hover {
                        transition: .3s;
                        transform: scale(0.9);
                    }
                }

                .input_send {
                    @include disable_selection;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .3s;
                    @include w_h(35px, 35px);

                    background: #F8F8F8;
                    border-radius: 30px;

                    cursor: pointer;

                    img {
                        @include w_h(25px, 25px);
                    }
                }

                .input_send:hover {
                    transition: .3s;
                    background: #e0e0e0;
                }
            }
        }
    }
}